In [6]:
import database

database.setup_db()
database.store_listing( "123 Test Street", "01-10-2023", 1500, 30, "https://example.com/listing1")
# Retrieve all listings
all_listings = database.get_all_listings()
for listing in all_listings:
    print(listing)

('123 Test Street', None, None, None, None)
('https://example.com/listing1', '123 Test Street', 'NaN', 'NaN', 'NaN')
('123 Test Street', '01-10-2023', 1500.0, 30.0, 'example')
('123 Test Street', '01-10-2023', 1500.0, 30.0, 'example')